html,body {
    background-color: #3366cc;
    alignment-adjust: central;
    margin: 0;
    padding: 0;
}


#main {
    background-color: #3b3b3b;
    width: 50%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px #000000;
}


#main h1{
    color: #df1f1f;
    padding: 1em;
    font-family: "Lucida Console", Monaco, monospace;
}

#main p{
    color: #e65252;
    padding: .1em;
    font-family: "Lucida Console", Monaco, monospace;
}

#main p.list{
    color: #e65252;
    padding: 0;
    margin: 0;
    width: 33%;
    float: left;
    font-family: "Lucida Console", Monaco, monospace;
}

#main i{
    color: #FFAAAA;
}

#main p a{
    color: #e65252;
    padding: .1em;
    font-family: "Lucida Console", Monaco, monospace;
}

#main p.italic{
    color: #e65252;
    padding: 1em;
    font-style: italic;
    font-family: "Lucida Console", Monaco, monospace;
}

#main note{
    color: #e65252;
    font-style: italic;
    font-size: 9pt;
    vertical-align: bottom;
    display: block;
    padding:  .2em;
    font-family: "Lucida Console", Monaco, monospace;
}

.action{
    text-align: center;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.action .child{
    margin: auto;
}

div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
    background-color: white;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}


.overlay {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(150,150,150,.5);
    display: inline-block;
    position: fixed;
    z-index: 5;
}
.error {
    color: #f00;
    font-style: italic;
}
.overlay .dialog {
    height: fit-content;
    width: 35%;
    margin: auto;
    margin-top: 10%;
    background-color: #fff;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    html,body {
        background-color:lightblue;
        width: 100%;
        padding: 0;
        margin:  0;
    }

    #main {
        min-width: 100%;
        box-shadow: none;
        top: 0px;
        left: 0px;
    }

    .overlay {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(150,150,150,.5);
        display: inline-block;
        position: fixed;
        z-index: 5;
    }
    input[type=submit]{
        width: 100%;
        height: 2em;
    }
    .error {
        color: #f00;
        font-style: italic;
    }
    .overlay .dialog {
        width: 100%;
        height: 75%;
        margin: auto;
        margin-top: auto;
        background-color: #fff;
        text-align: center;
    }
}