
<div class="overlay">
    <div class="dialog">
        <h1>Log In</h1>
        <script>
            console.log("Stuff");
            function gatherlogin() {
                var email = document.getElementById("email").value;
                var password = document.getElementById("password").value;
                SESSION.login(email, password, done);
            }
            function done(text) {
                console.log(text);
                if (text == "true") {
                    PAGE.hideoverlay();
                }
                else
                    document.getElementsByClassName("error")[0].innerHTML = text;
            }
            
        </script>
        <p class="error"></p>
        <form action="" onsubmit="gatherlogin();return false;">
            <table>
                <tr>
                    <td>Email: </td>
                    <td><input type="text" id="email" name="email"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" id="password" name="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
    
