<div class="overlay">
    <div class="dialog">
        <h1 id="statustitle">Loading...</h1>
        <p id="statusinfo"></p>
        <script>
            function status(title, info) {
                document.getElementById("statustitle").innerHTML = title;
                document.getElementById("statusinfo").innerHTML = info;
            }
        </script>
    </div>
</div>
